.top-container {
  display: flex;
  flex-direction: column;
  svg {
    text {
      width: 100%;
    }
  }
}
.bottom-container {
  .bottle-wrap {
    .img-wrap {
      .wave-image {
      }
    }
  }
}
